.panel.panel-primary
  .panel-heading
    %h3.panel-title.row
      .col-xs-6.text-left=asset.hardware_version.name
      .col-xs-6.text-right=asset.hardware_version.project.titleize
  .panel-body.itembg.container-fluid
    .row
      .col-xs-6
        = image_tag(get_image_from(asset.user), class: "small-image")
        = asset.user.full_name.titleize
      .col-xs-6.match-small-image.text-right.small=l asset.created_at
    - if @showing
      %h3=asset.serial_no
    - else
      %h3=link_to asset.serial_no, asset_path(asset)
    %div
      %strong="Location: "
      = display_location asset.in_house
    .row.marginalize-top.text-center
      .col-xs-6
        %strong="MAC Addr"
        .center-block.line
      .col-xs-6
        %strong="IPv4 Addr"
        .center-block.line
      .row
        .col-xs-6.text-center=asset.mac_address  || "Unknown"
        .col-xs-6.text-center=asset.ipv4_address || "Unknown"
    .marginalize-top
      %strong.text-left="NOTES:"
      .well=asset.notes

